*{margin: 0;padding: 0;box-sizing: border-box;}

html{font: normal 16px sans-serif;color:rgb(255, 1, 1);}
ul, nav{list-style: none;}
a{text-decoration: none;color: inherit;cursor: pointer;opacity: 0.9;}
a:hover{opacity: 1;}
a.q1{color: #fff;border-radius: 4px;text-transform: uppercase;background-color: #f39521;font-weight: 800;text-align: center;}
hr{width: 150px;height: 2px;background-color: #21f0f3;border: 0;margin-bottom: 80px;}
section{display: flex;flex-direction: column;align-items: center;padding: 125px 100px;}
@media (max-width: 1000px){section{padding: 100px 50px;}}
@media (max-width: 600px){section{padding: 80px 30px;}}
section h3.q2{color: rgb(0, 102, 255);text-transform: capitalize; font: bold 32px 'Open Sans', sans-serif;margin-bottom: 35px;text-align: center;}
section p{max-width: 800px;text-align: center;margin-bottom: 35px;padding: 0 20px;line-height: 2;}
ul.q3{width: 100%;display: flex;flex-wrap: wrap;justify-content: center;}
header{position: absolute;top: 0;left: 0;z-index: 10;width: 100%;display: flex;justify-content: space-between;align-items: center;color: white;padding: 35px 100px 0;}
header h2{font-family: 'Quicksand', sans-serif;}
header nav{display: flex;}

header nav li{margin: 0 15px;}
header nav li:first-child{margin-left: 0}

header nav li:last-child{margin-right: 0}



@media (max-width: 1000px){header{padding: 20px 50px;}}
@media (max-width: 700px){header{flex-direction: column;}header h2{margin-bottom: 15px;}}



.q4{position: relative;justify-content: center;min-height: 100vh;color:white;text-align: center;}

.q4 .q6{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-size: cover;background-color: rgb(0, 0, 254);z-index: -1;}

.q4 .q6:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75}

.q4 h1{font: bold 60px 'Open Sans', sans-serif;margin-bottom: 15px;}
.q4 h3{font: normal 28px 'Open Sans', sans-serif;margin-bottom: 40px;}
.q3 a.q1{padding: 20px 46px}
@media (max-width: 800px){
.q4{min-height: 600px}
.q4 h1{font-size: 48px}
.q4 h3{font-size: 24px;}
.q4 a.q1{padding: 15px 40px}}

.q5{background-color: #fff;}
.q5 .q3{display:flex;}
.q5 .q3 li{padding: 20px;height: 350px;border-radius: 3px;background-clip: content-box;background-size: cover;background-position: center;background-color: #333;}
.q5 .q3 li.q9{flex-basis: 40%;}
.q5 .q3 li.q10{flex-basis: 60%;}
.q8{background-color: #f7f7f7;}
.q8 .q3 li{padding: 0 30px;flex-basis: 33%;text-align: center;}
.q8 .q3 li i{font-size: 50px;color: #2196F3; margin-bottom: 25px;}
.q8 .q3 li h4{color: #555;font-size: 20px;margin-bottom: 25px;}
.q8 .q3 li p{margin: 0;}
@media (max-width: 1000px){
.q8 .q3 li{flex-basis: 70%;margin-bottom: 65px}
.q8 .q3 li:last-child{margin-bottom: 0}}
@media (max-width: 600px){
.q8 .q3 li{flex-basis: 100%;}}
.q7{background-color: #f7f7f7;}
.q7 form{display: flex;align-items: center;justify-content: center;flex-wrap: wrap;max-width: 800px;width: 80%}
.q7 form input{padding: 15px;flex: 1;margin-right: 30px;font-size: 18px;color: #555}
.q7 form .q1{padding: 18px 42px}
@media (max-width: 800px){
.q7 form input{flex-basis: 100%;margin: 0 0 20px 0;}}

